<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<Files .env>
Order Allow,Deny
Deny from all
</Files>

<Files .env.example>
Order Allow,Deny
Deny from all
</Files>

<Files .ftpqouta>
Order Allow,Deny
Deny from all
</Files>

<Files .gitattributes>
Order Allow,Deny
Deny from all
</Files>

<Files .gitiqnore>
Order Allow,Deny
Deny from all
</Files>

<Files .artisan>
Order Allow,Deny
Deny from all
</Files>

<Files build.xml>
Order Allow,Deny
Deny from all
</Files>

<Files composer.json>
Order Allow,Deny
Deny from all
</Files>

<Files composer.lock>
Order Allow,Deny
Deny from all
</Files>

<Files error_log>
Order Allow,Deny
Deny from all
</Files>

<Files manifest.mf>
Order Allow,Deny
Deny from all
</Files>

<Files package.json>
Order Allow,Deny
Deny from all
</Files>

<Files phpunit.xml>
Order Allow,Deny
Deny from all
</Files>

<Files readme.md>
Order Allow,Deny
Deny from all
</Files>

<Files server.php>
Order Allow,Deny
Deny from all
</Files>

<Files test.php>
Order Allow,Deny
Deny from all
</Files>

<Files webpack.mix.js>
Order Allow,Deny
Deny from all
</Files>
